<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">	<!-- ThymeleafのテンプレートとSpring Securityを連携 -->
<head>
	<div th:replace="~{fragment :: meta}"></div>
	
	<div th:replace="~{fragment :: styles}"></div>
	
	<title>SAMURAI Travel</title>
	</head>
	<body>
		<div class="samuraitravel-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 samuraitravel-container">
					<div th:if="${param.loggedIn}" class="alert alert-info"> <!-- リクエストURLにloggedInがあると、この<div>が表示される -->
						ログインしました。									 <!-- alert-infoは青系の情報メッセージを表すスタイル。-->
					</div>
					
					<div th:if="${param.loggedOut}" class="alert alert-info">
						ログアウトしました。
					</div>
					
					<div th:if="${successMessage}" class="alert alert-info">
						<span th:text="${successMessage"}></span>
					</div>
				</div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>